<p><%= review.rating %></p>
<p><%= review.comment %></p>

<% if admin_signed_in? %>
<% if review.admin_id == current_admin.id %>

<%= link_to "Edit", edit_book_review_path(review.book, review) %>

<%= link_to "Delete", book_review_path(review.book, review), method: :delete, data: { confirm: "Are you SURE ?" } %>

<% end %>
<% end %>
